/* Global styles */
p {
    font-family: Times New Roman;
  }
  
  /* Title */
  p.title {
    font-size: 28px;
    color: blue;
    font-weight: bold;
    text-decoration: underline;
  }
  
  /* Header 1 */
  p.header1 {
    font-size: 22px;
    color: navy;
    font-weight: bold;
    text-decoration: underline;
  }
  
  /* Header 2 */
  p.header2 {
    font-size: 20px;
    color: navy;
    font-weight: bold;
  }
  
  /* Header 3 */
  p.header3 {
    font-size: 18px;
    color: navy;
    padding-left: 20px;
    font-weight: bold;
  }
  
  /* Header 4 */
  p.header4 {
    font-size: 16px;
    color: navy;
    padding-left: 40px;
    font-weight: bold;
    font-style: italic;
  }